{
  "extends": ["eslint:recommended", "react-app", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "indent": "off",
    "react/jsx-uses-react": 1,
    "react/display-name": "off",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react", "react-hooks"]
}
