@tailwind base;
@tailwind components;

body {
  background-color: #edf2f7;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-left;
  color: #333;
  line-height: 1.15;
}

.container {
  @apply w-full h-full;
}

.card {
  @apply flex bg-white items-start flex-col justify-evenly rounded h-64 p-4;
}

.badge {
  @apply flex items-center h-8 p-2 rounded-full;
}

@tailwind utilities;
